<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="author" content="Techweb.com.vn" />
	<title>Untitled 2</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
 <header>
    <div class="container">
       <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs">
         <img src="images/banner.jpg" />
       </div>
    </div>
 </header>
 <nav class="main_menu">
   <div class="container">
     <div class="col-md-12 col-sm-12 col-xs-12">
        <ul>
          <li><a href="" title="">Phong Thủy</a></li>
          <li><a href="" title="">Tử vi</a></li>
          <li><a href="" title="">Xem ngày</a></li>
          <li>
            <a href="" title="">Xem tuổi</a>
            <ul>
              <li><a href="" title="">Xem tuổi làm ăn</a></li>
              <li><a href="" title="">Xem tuổi sinh con</a></li>
              <li><a href="" title="">Xem tuổi làm nhà</a></li>
              <li><a href="" title="">Xem tuổi hợp nhau</a></li>
            </ul>  
          </li>
          <li><a href="" title="">Xem bói</a></li>
          <li><a href="" title="">Tâm linh</a></li>
          <li><a href="" title="">Lịch</a></li>
        </ul>
     </div>
   </div> 
 </nav> 
 <div class="container">
   <section>
      <div class="col-md-9 col-sm-8 col-xs-12">
         <div class="box_content box_xvm">
            <h3 class="box_content_tt">Xem vận mệnh theo ngày, tháng, năm sinh</h3>
            <p>Hãy nhập đầy đủ thông tin của bạn vào để có kết quả tốt nhất</p>
            <form name="" action="" method="post">
               <div class="field">
                     <div class="col-md-6 col-sm-6 col-xs-12">
                       <input type="text" name="hovaten" value="" placeholder="Nhập họ và tên" />
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                       <select name="gioitinh">
                         <option>Giới tính</option>
                       </select>
                     </div>
               </div>
               <div class="field">
                   <div class="col-md-4 col-sm-4 col-xs-4">
                     <select name="ngaysinh">
                         <option value="">Ngày sinh</option>
                       </select>
                   </div>
                   <div class="col-md-4 col-sm-4 col-xs-4">
                      <select name="ngaysinh">
                         <option value="">Ngày sinh</option>
                       </select>
                   </div>
                   <div class="col-md-4 col-sm-4 col-xs-4">
                      <select name="ngaysinh">
                         <option value="">Ngày sinh</option>
                       </select>
                   </div>
               </div>
               <div class="field">
                   <div class="col-md-4 col-sm-4 col-xs-4">
                     <select name="ngaysinh">
                         <option value="">Ngày sinh</option>
                       </select>
                   </div>
                   <div class="col-md-4 col-sm-4 col-xs-4">
                      <select name="ngaysinh">
                         <option value="">Ngày sinh</option>
                       </select>
                   </div>
                   <div class="col-md-4 col-sm-4 col-xs-4">
                      <select name="ngaysinh">
                         <option value="">Ngày sinh</option>
                       </select>
                   </div>
               </div>
               <div class="field">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <button type="submit">Xem kết quả</button>
                  </div>
               </div>
            </form>
         </div>
         
         <div class="box_content">
             <h3 class="box_content_tt1">Công cụ xem ngày tốt</h3>
             <ul class="box_content_gird">
               <li>
                 <a href=""><img src="images/ic_xemngayvansu.png" alt="" /></a>
                 <p><a href="">Xem ngày vạn sự</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaykhaitruong.png" alt="" /></a>
                 <p><a href="">Xem ngày khai trương</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaykyhopdong.png" alt="" /></a>
                 <p><a href="">Xem ngày ký hợp đồng</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaychoncat.png" alt="" /></a>
                 <p><a href="">Xem ngày chôn cất</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaymuaxe.png" alt="" /></a>
                 <p><a href="">Xem ngày tốt mua xe</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaychuabenh.png" alt="" /></a>
                 <p><a href="">Xem ngày khai trương</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaychuabenh.png" alt="" /></a>
                 <p><a href="">Xem ngày khai trương</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaychuabenh.png" alt="" /></a>
                 <p><a href="">Xem ngày khai trương</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaychuabenh.png" alt="" /></a>
                 <p><a href="">Xem ngày khai trương</a></p>
               </li>
             </ul>
         </div>
         
         <div class="box_content">
             <h3 class="box_content_tt1">Công cụ xem ngày tốt</h3>
             <ul class="box_content_gird">
               <li>
                 <a href=""><img src="images/ic_xemngayvansu.png" alt="" /></a>
                 <p><a href="">Xem ngày vạn sự</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaykhaitruong.png" alt="" /></a>
                 <p><a href="">Xem ngày khai trương</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaykyhopdong.png" alt="" /></a>
                 <p><a href="">Xem ngày ký hợp đồng</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaychoncat.png" alt="" /></a>
                 <p><a href="">Xem ngày chôn cất</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaymuaxe.png" alt="" /></a>
                 <p><a href="">Xem ngày tốt mua xe</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaychuabenh.png" alt="" /></a>
                 <p><a href="">Xem ngày khai trương</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaychuabenh.png" alt="" /></a>
                 <p><a href="">Xem ngày khai trương</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaychuabenh.png" alt="" /></a>
                 <p><a href="">Xem ngày khai trương</a></p>
               </li>
               <li>
                 <a href=""><img src="images/ic_xemngaychuabenh.png" alt="" /></a>
                 <p><a href="">Xem ngày khai trương</a></p>
               </li>
             </ul>
         </div>
         
      </div>
   </section>
   <aside>
      <div class="col-md-3 col-sm-4 col-xs-12">
         <div class="box_aside">
            <h3 class="box_aside_tt1">Xem tuổi</h3>
            <ul class="box_aside_ul">
              <li><a href="" title="">Xem tuổi vợ chồng</a></li>
              <li><a href="" title="">Đặt tên cho con</a></li>
              <li><a href="" title="">Xem hợp tuổi</a></li>
              <li><a href="" title="">Xem vận hạn</a></li>
              <li><a href="" title="">Xem tuổi làm nhà</a></li>
            </ul>
         </div>
         
         <div class="box_aside">
            <h3 class="box_aside_tt1">Xem bói</h3>
            <ul class="box_aside_ul">
              <li><a href="" title="">Bói bài</a></li>
              <li><a href="" title="">Bói kiều</a></li>
              <li><a href="" title="">Thần số học bói tên</a></li>
              <li><a href="" title="">Bói tâm lý</a></li>
              <li><a href="" title="">Xem và chọn số đẹp</a></li>
              <li><a href="" title="">Xem tình duyên</a></li>
            </ul>
         </div>
         
         <div class="box_aside">
            <h3 class="box_aside_tt1">Xem bói</h3>
            <ul class="box_aside_ul">
              <li><a href="" title="">Bói bài</a></li>
              <li><a href="" title="">Bói kiều</a></li>
              <li><a href="" title="">Thần số học bói tên</a></li>
              <li><a href="" title="">Bói tâm lý</a></li>
              <li><a href="" title="">Xem và chọn số đẹp</a></li>
              <li><a href="" title="">Xem tình duyên</a></li>
            </ul>
         </div>
         
         <div class="box_aside">
            <h3 class="box_aside_tt1">Tử vi</h3>
            <ul class="box_aside_ul">
              <li><a href="" title="">Xem Tử Vi & Bình giải</a></li>
              <li><a href="" title="">Lá số Tứ Trụ</a></li>
              <li><a href="" title="">Lá số Quỷ Cốc</a></li>
              <li><a href="" title="">Giải đáp</a></li>
            </ul>
         </div>
         
         <div class="box_aside">
            <h3 class="box_aside_tt1">Phong thủy</h3>
            <ul class="box_aside_ul">
              <li><a href="" title="">Xem Tử Vi & Bình giải</a></li>
              <li><a href="" title="">Lá số Tứ Trụ</a></li>
              <li><a href="" title="">Lá số Quỷ Cốc</a></li>
              <li><a href="" title="">Giải đáp</a></li>
            </ul>
         </div>
         
         <div class="box_aside">
            <h3 class="box_aside_tt1">Xem ngày</h3>
            <ul class="box_aside_ul">
              <li><a href="" title="">Xem Tử Vi & Bình giải</a></li>
              <li><a href="" title="">Lá số Tứ Trụ</a></li>
              <li><a href="" title="">Lá số Quỷ Cốc</a></li>
              <li><a href="" title="">Giải đáp</a></li>
            </ul>
         </div>
      </div>
   </aside>
   <section>
      <div class="col-md-12 col-sm-12 col-xs-12">
         <h3 class="box_aside_tt1">Thư viện tin tức tổng hợp</h3>
      </div>
      <div class="">
        <div class="col-md-6 col-sm-6 col-xs-12 article_item">
          <a href=""><img src="images/tintuc.jpg" alt="" title="" /></a>
          <a href="" class="article_item_tt">Etiam consectetur lorem in leo rutrum auctor.</a>
          <p class="article_item_dsc">Phasellus maximus dui nunc, in tincidunt velit eleifend non.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 article_item">
          <a href=""><img src="images/tintuc.jpg" alt="" title="" /></a>
          <a href="" class="article_item_tt">Etiam consectetur lorem in leo rutrum auctor.</a>
          <p class="article_item_dsc">Phasellus maximus dui nunc, in tincidunt velit eleifend non.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 article_item">
          <a href=""><img src="images/tintuc.jpg" alt="" title="" /></a>
          <a href="" class="article_item_tt">Etiam consectetur lorem in leo rutrum auctor.</a>
          <p class="article_item_dsc">Phasellus maximus dui nunc, in tincidunt velit eleifend non.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 article_item">
          <a href=""><img src="images/tintuc.jpg" alt="" title="" /></a>
          <a href="" class="article_item_tt">Etiam consectetur lorem in leo rutrum auctor.</a>
          <p class="article_item_dsc">Phasellus maximus dui nunc, in tincidunt velit eleifend non.</p>
        </div>
      </div>
   </section>
 </div>
 <footer class="footer">
    <div class="container">
       <div class="col-md-12 col-sm-12 col-xs-12 f_menu">
          <ul>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
            <li><a href="" title="">Xem tuoi sinh con</a></li>
          </ul>
       </div>
       <div class="f_lh">
         <div class="col-md-3 col-sm-3 col-xs12">
            <h3 class="f_lhh3">Thông tin liên hệ</h3>
            <div class="">
                ĐT chính: 0942 84 08 80
                ĐT phụ (khi số trên bận): 0942 84 08 80
                Viber | Zalo | FB Msg: 0942 84 08 80
                Skype: huongwebdesign
                Email: huongwebdesign@gmail.com
                Facebook Fanpage
                Làm việc: 8h-18h từ T2-T7
                Địa chỉ: Ngõ 112, Phố Mễ Trì Thượng, 
                Nam Từ Liên, Hà Nội
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs12">
            <h3 class="f_lhh3">Thông tin liên hệ</h3>
            <div>
                Tư vấn phong thủy
                Học phong thủy
                Bán sim phong thủy
                Thiết kế kiến trúc nội thất
                Bán mẫu nhà vẽ sẵn
                Đặt tên con hợp mệnh
                Đặt tên công ty
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs12">
            <h3 class="f_lhh3">Thông tin liên hệ</h3>
            <div>
                Thập Nhị Kỳ Thư
                Thiết kế Logo theo phong thủy
                Thiết kế Web theo phong thủy
                Bán đồ phong thủy, La Kinh T.Việt
                Phong Thủy Linh Bài cầu tài lộc
                Vòng đá phong thủy
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs12">
            <h3 class="f_lhh3">Thông tin liên hệ</h3>
            <div>
                Đồng chủ tài khoản: Nguyễn Thị Hường
                0011000957600 VCB Sở giao dịch HN
                1305205277783 Agribank Tràng An
                22010000734816 BIDV Thăng Long
                19023567120288 Techcombank Đông Đô
                Xem chi tiết cách thức liên hệ thanh toán
            </div>
         </div>
       </div>
       <div class="col-md-12 col-sm-12 col-xs-12 copyright">
         <p>Copyright ©2017 Xemtuvi All rights reserved</p>
       </div>
    </div>
 </footer> 
</body>
</html>