/* CSS Document */

#m609 {
    background: none repeat scroll 0 0 #E1EBFB;
    border-bottom: 1px solid #C7D9F8;
    border-left: 1px solid #C7D9F8;
    color: #333333;
    font-family: 'Arial';
    font-size: 10pt;
    padding: 2px;
    text-align: center;
}
#m608 {
    background: none repeat scroll 0 0 #E1EBFB;
    border-bottom: 1px solid #C7D9F8;
    border-right: 1px solid #C7D9F8;
    color: #333333;
    font-family: 'Arial';
    font-size: 10pt;
    padding: 5px 1px;
    text-align: center;
}
#m610 {
    padding-bottom: 3px;
    padding-right: 3px;
    padding-top: 3px;
}
#m606 {
    background: none repeat scroll 0 0 #E1EBFB;
    border-bottom: 1px dotted #C7D9F8;
    border-left: 1px solid #C7D9F8;
    border-right: 1px solid #C7D9F8;
    color: #333333;
    font-family: 'Arial';
    font-size: 10pt;
    padding: 3px;
    text-align: center;
}
#m607 {
    background: none repeat scroll 0 0 #E1EBFB;
    border-bottom: 1px solid #C7D9F8;
    border-right: 1px solid #C7D9F8;
    color: red;
    font-family: 'Arial';
    font-size: 10pt;
    padding: 5px 1px;
    text-align: center;
}
#m611 {
    padding-left: 5px;
    padding-right: 0;
    padding-top: 0;
}
#m612 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
}
#m613 {
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    text-align: center;
}
#m614 {
    color: #333333;
    font-family: 'Arial';
    font-size: 10pt;
    padding-left: 1px;
    padding-right: 0;
    padding-top: 3px;
    text-align: left;
}
#m615 {
    background: none repeat scroll 0 0 white;
}
#m616 {
    font-weight: bold;
    text-align: center;
}
#m617 {
    border-top: 1px solid #808080;
    font-family: 'Arial';
    font-size: 10pt;
    text-align: center;
}
#m618 {
    text-align: center;
}
#m619 {
    color: #003399;
    font-family: 'Arial';
    font-size: 10pt;
    text-align: center;
}
#m620 {
    background: none repeat scroll 0 0 white;
    padding: 2px 1px;
    text-align: center;
}